.about {
    background-image: url("https://www.wallpaperup.com/uploads/wallpapers/2014/07/28/409555/15ff8c2bd911656f3356dc4f4dee3e4e.jpg"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      background-repeat: no-repeat;
    height: 700px;
    width: 100%;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-info{
  margin-top: 550px;
  
  
}

.about-details{
  width: 700px;
  margin-left: 200px;
  
}
